{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <!-- <link rel="stylesheet" href="/static/index.css"> -->
</head>
<body>
      <header class="header">
          <h1>MyProject</h1>
          <u1  class="listItem">
            <li class="l">Home</li>
            <li class="l">AboutUS</li>
            <li class="l">Contact</li>
            <li class="l">Service</li>
          </u1> 
      </header>
      